body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
    max-width: 800px;
}
 .container{
    max-width: 800px;
    margin: 0 auto;
    color: #312a2a;
    font-family: sans-serif;
    padding-top: 50px;
    padding-left: 100px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}



