
body {
    font-family: sans-serif;
    background-color: #d1c7d8;
    margin-top: 75px;
    max-width: 800px;
}
 

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
      max-width: 900px;
    margin: 0 auto;
    color: #292727;
    font-family: sans-serif;
    padding-top: 50px;
    padding-left: 300px;
}



