body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 800px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
   
    max-width :800px;
    margin: 0 auto;
    color: grey;
    font-family: sans-serif;    
    margin-right: 70px;
    margin-left: 60px;
    margin-top: 75px;
    
         }


